
@font-face {
    font-family: 'Alegreya';
    src: url('../p2-font/Alegreya-Regular.woff2') format('woff2'),
        url('../p2-font/Alegreya-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
  }

  @font-face {
    font-family: 'Alegreya';
    src: url('../p2-font/Alegreya-Bold.woff2') format('woff2'),
        url('../p2-font/Alegreya-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}
html{
    background: black;
}

.text1{
position: absolute;
left: 180px;
top: 340px;
font-family:'Alegreya', georgia, serif;
font-style: normal;
font-weight: normal;
font-size: 160px;
line-height: 140px;
color: rgb(87, 87, 87);

}

.text2{
position: absolute;
left: 430px;
top: 400px;

font-family: 'Alegreya', georgia, serif;
font-style: normal;
font-weight: normal;
font-size: 30px;
line-height: 54px;

color:rgb(187, 187, 187);

transform: rotate(45deg);

}

button{
position: absolute;
left: 800px;
top: 200px;
font-family: 'Alegreya', georgia, serif;
font-style: normal;
font-weight: bold;
font-size: 70px;
line-height: 144px;
color: white;
outline: inherit;
border:0;
transition: background 4s ease;
}

button:active{
    background:black ;
    color:black;
}


.home{
    position:absolute;
    right:80px;
    top:20px;
    width:20px;
    height:50px;

}

img {
    position: sticky;
    right: 10px;
    top: 10px;
    width: 50px;
}



@media only screen and (min-device-width: 375px) and (max-device-height: 812px){ 

    .text1{
        position: absolute;
        left: 100px;
        top: 1540px;
    width:40%;
    font-size: 10rem;
}
.text2{
    position: absolute;
    left: 20px;
    top: 1300px;
    width: 130%;
    font-size:3rem;
    transform: rotate(0deg);
}

button{
    position: absolute;
    left: 500px;
    top: 500px;
    font-size:10rem;
    padding:30px;
}

.home{
    position:absolute;
    right:0px;
    top:80px;
    width:100px;
    height:50px;

}
img {
    width: 100px;
}
}