@font-face {
    font-family: 'Alegreya';
    src: url('../p2-font/Alegreya-Regular.woff2') format('woff2'),
        url('../p2-font/Alegreya-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Alegreya';
    src: url('../p2-font/Alegreya-SemiBold.woff2') format('woff2'),
        url('../p2-font/Alegreya-SemiBold.woff') format('woff');
    font-weight: 600;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Alegreya';
    src: url('../p2-font/Alegreya-SemiBoldItalic.woff2') format('woff2'),
        url('../p2-font/Alegreya-SemiBoldItalic.woff') format('woff');
    font-weight: 600;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Alegreya';
    src: url('../p2-font/Alegreya-ExtraBold.woff2') format('woff2'),
        url('../p2-font/Alegreya-ExtraBold.woff') format('woff');
    font-weight: 800;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Alegreya';
    src: url('../p2-font/Alegreya-BlackItalic.woff2') format('woff2'),
        url('../p2-font/Alegreya-BlackItalic.woff') format('woff');
    font-weight: 900;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Alegreya';
    src: url('../p2-font/Alegreya-Black.woff2') format('woff2'),
        url('../p2-font/Alegreya-Black.woff') format('woff');
    font-weight: 900;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Alegreya';
    src: url('../p2-font/Alegreya-ExtraBoldItalic.woff2') format('woff2'),
        url('../p2-font/Alegreya-ExtraBoldItalic.woff') format('woff');
    font-weight: 800;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Alegreya';
    src: url('../p2-font/Alegreya-Bold.woff2') format('woff2'),
        url('../p2-font/Alegreya-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Alegreya';
    src: url('../p2-font/Alegreya-BoldItalic.woff2') format('woff2'),
        url('../p2-font/Alegreya-BoldItalic.woff') format('woff');
    font-weight: bold;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Alegreya';
    src: url('../p2-font/Alegreya-Medium.woff2') format('woff2'),
        url('../p2-font/Alegreya-Medium.woff') format('woff');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Alegreya';
    src: url('../p2-font/Alegreya-MediumItalic.woff2') format('woff2'),
        url('../p2-font/Alegreya-MediumItalic.woff') format('woff');
    font-weight: 500;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Alegreya';
    src: url('../p2-font/Alegreya-Italic.woff2') format('woff2'),
        url('../p2-font/Alegreya-Italic.woff') format('woff');
    font-weight: normal;
    font-style: italic;
    font-display: swap;
}

html{
    background-color: rgb(39, 39, 39);
}
.container{
    display: grid;
    grid-template-columns: repeat(7,1fr);
    grid-template-rows: repeat(4,minmax(200px,auto));
    grid-column-gap: 10px;
    grid-row-gap:10px;
}
.text1{
    justify-self: center;
    display: flex;
    align-items: center;
    justify-content: center;
    grid-column-start:2;
    grid-column-end:3;
    grid-row-start:2;
    grid-row-end: 3;
    width: 200px;
    height: 200px;
    font-family: 'Alegreya',georgia,serif;
    font-weight: normal;
    font-style: italic;
    font-size: 1.2rem;
    line-height: 1.2;
    color: #585858;
    text-align: center;
}
.text1:hover{
    color: #C1C1C1;
}

.text2{
    justify-self: center;
    display: flex;
    align-items: center;
    justify-content: center;
    grid-column-start:3;
    grid-column-end:4;
    grid-row-start:2;
    grid-row-end: 3;
    width: 200px;
    height: 200px;
    font-family: 'Alegreya',georgia,serif;
    font-weight: bold;
    font-style: normal;
    font-size: 1.2rem;
    line-height: 1.2;
    color: #585858;;
}
.text2:hover{
    color: #A69454;
}

.text3{
    justify-self: center;
    display: flex;
    align-items: center;
    justify-content: center;
    grid-column-start:4;
    grid-column-end:5;
    grid-row-start:2;
    grid-row-end: 3;
    width: 200px;
    height: 200px;
font-family: 'Alegreya',georgia,serif;
    font-weight: normal;
    font-style: normal;
font-size: 100px;
line-height: 100px;
color: #585858;
}
.text3:hover{
    color: #FFEBA3;
}

.text4{
    justify-self: center;
    display: flex;
    align-items: center;
    justify-content: center;
    grid-column-start:5;
    grid-column-end:6;
    grid-row-start:2;
    grid-row-end: 3;
    width: 200px;
    height: 200px;
font-family: 'Alegreya',georgia,serif;
    font-weight: normal;
    font-style: normal;
font-size: 1.2rem;
line-height: 1.2;
text-align: left;
color: #585858;
}
.text4:hover{
    color: #C1C1C1;
}

.text5{
    justify-self: center;
    display: flex;
    align-items: center;
    justify-content: center;
    grid-column-start:6;
    grid-column-end:7;
    grid-row-start:2;
    grid-row-end: 3;
    width: 200px;
    height: 200px;
font-family: 'Alegreya',georgia,serif;
font-style: normal;
font-weight: normal;
font-size: 1rem;
line-height: 1.2;
color: #585858;

}

.text5:hover{
    color: #C1C1C1;
}
.text6{
    justify-self: center;
    display: flex;
    align-items: center;
    justify-content: center;
    grid-column-start:2;
    grid-column-end:3;
    grid-row-start:3;
    grid-row-end: 4;
    width: 200px;
    height: 200px;
font-family: 'Alegreya',georgia,serif;
font-style: normal;
font-weight: normal;
font-size: 1.2rem;
line-height: 1.2;
color: #585858;

}
.text6:hover{
    color: #c1c1c1;
}

.text7{
    justify-self: center;
    display: flex;
    align-items: center;
    justify-content: center;
    grid-column-start:3;
    grid-column-end:4;
    grid-row-start:3;
    grid-row-end: 4;
    width: 200px;
    height: 200px;
font-family: 'Alegreya',georgia,serif;
font-style: normal;
font-weight: normal;
font-size: 1.2rem;
line-height: 23px;
color: #585858;
}
.text7:hover{
    color: #E5E5E5;
}

.text8{
    justify-self: center;
    display: flex;
    align-items: center;
    justify-content: center;
    grid-column-start:4;
    grid-column-end:5;
    grid-row-start:3;
    grid-row-end: 4;
    width: 200px;
    height: 200px;
font-family: 'Alegreya',georgia,serif;
font-style: normal;
font-weight: normal;
font-size: 18px;
line-height: 23px;
color: #585858;
}
.text8:hover{
    color:#FFFFFF;
}
.text9{
    justify-self: center;
    display: flex;
    align-items: center;
    justify-content: center;
    grid-column-start:5;
    grid-column-end:6;
    grid-row-start:3;
    grid-row-end: 4;
    width: 200px;
    height: 200px;
font-family: 'Alegreya',georgia,serif;
font-style: normal;
font-weight: normal;
font-size: 1.2rem;
line-height: 1.2;
color: #585858;

}

.text9:hover{
    color: #c1c1c1;
}

.text10{
    justify-self: center;
    display: flex;
    align-items: center;
    justify-content: center;
    grid-column-start:6;
    grid-column-end:7;
    grid-row-start:3;
    grid-row-end: 4;
    width: 200px;
    height: 200px;
font-family: 'Alegreya',georgia,serif;
font-style: normal;
font-weight: normal;
font-size: 1.2rem;
line-height: 1.2;
color: #585858;
}
.text10:hover{
    color: #c1c1c1;
}
.home{
    position:absolute;
    right:80px;
    top:20px;
    width:20px;
    height:50px;

}

img {
    position: sticky;
    right: 10px;
    top: 10px;
    width: 50px;
}


@media only screen and (min-device-width: 375px) and (max-device-height: 812px){ 
    .container{
        display: grid;
        grid-template-columns: repeat(7,1fr);
        grid-template-rows: repeat(12,minmax(100px,auto));
        grid-column-gap: 10px;
        grid-row-gap:200px;
    }
    .text1 {
        justify-self: center;
        display: flex;
        align-items: center;
        justify-content: center;
        grid-column-start:1;
        grid-column-end:4;
        grid-row-start:2;
        grid-row-end: 3;
        width: 100%;
        font-family: 'Alegreya',georgia,serif;
        font-style: italic;
        font-size: 2.3rem;
        line-height: 1.2;
        color: #585858;
    }

    .text2 {
        justify-self: center;
        display: flex;
        align-items: center;
        justify-content: center;
        grid-column-start:4;
        grid-column-end:8;
        grid-row-start:2;
        grid-row-end: 3;
        width:100%;
        font-family: 'Alegreya',georgia,serif;
        font-weight: bold;
        font-style: normal;
        font-size: 4rem;
        line-height: 1.2;
        color: #585858;
    }

    .text3 {
        justify-self: center;
        display: flex;
        align-items: center;
        justify-content: center;
        grid-column-start:3;
        grid-column-end:6;
        grid-row-start:3;
        grid-row-end: 4;
        width:100%;
        font-family: 'Alegreya',georgia,serif;
        font-weight: normal;
        font-style: normal;
        font-size: 10rem;
        line-height: 1;
        color: #585858;
    }
.text4{
    justify-self: center;
    display: flex;
    align-items: center;
    justify-content: center;
    grid-column-start:1;
    grid-column-end:4;
    grid-row-start:4;
    grid-row-end: 5;
    width:100%;
    font-family: 'Alegreya',georgia,serif;
    font-weight: normal;
    font-style: normal;
    font-size: 4rem;
    line-height: 1;
    text-align: right;
    color: #585858;
}
.text5 {
    justify-self: center;
    display: flex;
    align-items: center;
    justify-content: center;
    grid-column-start:5;
    grid-column-end:8;
    grid-row-start:4;
    grid-row-end: 5;
    width:100%;
    font-family: 'Alegreya',georgia,serif;
    font-style: normal;
    font-weight: normal;
    font-size: 2.3rem;
    line-height: 1.2;
    color: #585858;
}
    
.text6 {
    justify-self: center;
    display: flex;
    align-items: center;
    justify-content: center;
    grid-column-start:3;
    grid-column-end:7;
    grid-row-start:5;
    grid-row-end: 6;
    width:100%;
    font-family: 'Alegreya',georgia,serif;
    font-style: normal;
    font-weight: normal;
    font-size: 3rem;
    line-height: 1.2;
    color: #585858;
}
.text7 {
    justify-self: center;
    display: flex;
    align-items: center;
    justify-content: center;
    grid-column-start:1;
    grid-column-end:5;
    grid-row-start:6;
    grid-row-end: 7;
    width:100%;
    font-family: 'Alegreya',georgia,serif;
    font-size: 3rem;
    line-height: 1.2;
    color: #585858;
}

.text8 {
    justify-self: center;
    display: flex;
    align-items: center;
    justify-content: center;
    grid-column-start:5;
    grid-column-end:8;
    grid-row-start:6;
    grid-row-end: 7;
    width:100%;
    font-family: 'Alegreya',georgia,serif;
    font-style: normal;
    font-weight: normal;
    font-size: 3rem;
    line-height: 1.2;
    color: #585858;

    }
.text9 {
    justify-self: center;
    display: flex;
    align-items: center;
    justify-content: center;
    grid-column-start:1;
    grid-column-end:6;
    grid-row-start:7;
    grid-row-end: 8;
    width:100%;
    font-family: 'Alegreya',georgia,serif;
    font-style: normal;
    font-weight: normal;
    font-size: 40px;
    line-height: 42px;
    color: #585858;
}

.text10 {
    justify-self: center;
    display: flex;
    align-items: center;
    justify-content: center;
    grid-column-start:6;
    grid-column-end:8;
    grid-row-start:7;
    grid-row-end: 8;
    width:100%;
    font-family: 'Alegreya',georgia,serif;
    font-style: normal;
    font-weight: normal;
    font-size: 2.3rem;
    line-height: 1.2;
    color: #585858;
}
.home{
    position:absolute;
    right:20px;
    top:42px;
    width:100px;
    height:50px;

}
img {
    width: 100px;
}

}

