@font-face {
    font-family: 'Alegreya';
    src: url('../p2-font/Alegreya-Regular.woff2') format('woff2'),
        url('../p2-font/Alegreya-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
  }

.text{
    position: absolute;
width: 399px;
height: 392px;
left: 71px;
top: 501px;
font-family: 'Alegreya', georgia, serif;
font-style: normal;
font-weight: normal;
font-size: 24px;
line-height: 10px;

color: #000000;
}


.text:hover{
    transition-duration: 0.3s;
    position: absolute;
width: 740px;
height: 740px;
left: 200px;
top: 54px;
font-family: 'Alegreya', georgia, serif;
font-style: normal;
font-style: normal;
font-weight: normal;
font-size: 24px;
line-height: 29px;
color: #000000;
}
.home{
    position:absolute;
    right:80px;
    top:20px;
    width:20px;
    height:50px;

}

img {
    position: sticky;
    right: 10px;
    top: 10px;
    width: 50px;
}

@media only screen and (min-device-width: 375px) and (max-device-height: 812px){ 

    .text{
        position: absolute;
    width: 399px;
    height: 392px;
    left: 80px;
    top: 1100px;
    font-family: 'Alegreya', georgia, serif;
     font-style: normal;
    font-style: normal;
    font-weight: normal;
    font-size: 2rem;
    line-height: 10px;
    color: #000000;
    }
    
    .text:active{
        transition-duration: 0.3s;
        position: absolute;
        width: 370px;
        height: 392px;
        left: 150px;
        top: 1100px;
        font-family: 'Alegreya', georgia, serif;
        font-style: normal;
        font-style: normal;
        font-weight: normal;
        font-size: 2rem;
        line-height: 10px;
        color: #000000;
    }
    .home{
        position:absolute;
        right:80px;
        top:80px;
        width:100px;
        height:50px;
    
    }
    img {
        width: 100px;
    }
    }


