.text{
    position: absolute;
width: 399px;
height: 392px;
left: 71px;
top: 501px;
font-family: Rockwell;
font-style: normal;
font-weight: normal;
font-size: 24px;
line-height: 10px;
/* or 42% */
color: #000000;
}


.text:hover{
    transition-duration: 0.3s;
    position: absolute;
width: 1267px;
height: 740px;
left: 200px;
top: 54px;
font-family: Rockwell;
font-style: normal;
font-weight: normal;
font-size: 24px;
line-height: 29px;

color: #000000;


}

@media only screen and (min-device-width: 375px) and (max-device-height: 812px){ 

    .text{
        position: absolute;
    width: 399px;
    height: 392px;
    left: 150px;
    top: 1100px;
    font-family: Rockwell;
    font-style: normal;
    font-weight: normal;
    font-size: 2rem;
    line-height: 10px;
    /* or 42% */
    color: #000000;
    }
    
    .text:hover{
        position: absolute;
        width: 399px;
        height: 392px;
        left: 150px;
        top: 1100px;
        font-family: Rockwell;
        font-style: normal;
        font-weight: normal;
        font-size: 2rem;
        line-height: 10px;
        /* or 42% */
        color: #000000;
    }
    .text:active{
        transition-duration: 1s;
        position: absolute;
    width: 300x;
    height: 1300px;
    left: 50px;
    top: 100px;
    font-size: 24px;
    line-height: 29px;
    
    color: #000000;
    }
.text::after{
    position: absolute;
}
    }


