@font-face {
  font-family: 'Alegreya';
  src: url('../p2-font/Alegreya-Regular.woff2') format('woff2'),
      url('../p2-font/Alegreya-Regular.woff') format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Alegreya';
  src: url('../p2-font/Alegreya-SemiBold.woff2') format('woff2'),
      url('../p2-font/Alegreya-SemiBold.woff') format('woff');
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Alegreya';
  src: url('../p2-font/Alegreya-SemiBoldItalic.woff2') format('woff2'),
      url('../p2-font/Alegreya-SemiBoldItalic.woff') format('woff');
  font-weight: 600;
  font-style: italic;
  font-display: swap;
}


body {
    font-family: Georgia;

  }

  .container{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-template-rows: repeat(3,minmax(150px,auto));
    grid-column-gap: 10px;
    grid-row-gap:10px;
}

.text{
    font-size: 1rem;
    justify-self: center;
    display: flex;
    align-items: center;
    justify-content: center;
    grid-column-start:2;
    grid-column-end:3;
    grid-row-start:2;
    grid-row-end: 3;
    font-family: 'Alegreya', georgia, serif;
    font-weight: normal;
    font-style: normal;
}

  button {
    color: rgb(177, 177, 177);
    border: 0;
    outline: inherit;
    flex: 1;
    font-size: 1.8em;
    line-height: 1.2;
    text-decoration: none;
    background:none;
    font-family: 'Alegreya', georgia, serif;
    font-weight: normal;
    font-style: italic;
    transition: background 2s ease;
    text-align: left;
  }

 button:active{
      background:rgb(96, 109, 81)  ;
  }
  .home{
    position:absolute;
    right:80px;
    top:20px;
    width:20px;
    height:50px;

}

img {
    position: sticky;
    right: 10px;
    top: 10px;
    width: 50px;
}

@media only screen and (min-device-width: 375px) and (max-device-height: 812px){ 


  .container{
    display: grid;
    grid-template-columns: repeat(7,1fr);
    grid-template-rows: repeat(3,minmax(320px,auto));
    grid-column-gap: 10px;
    grid-row-gap:10px;
}

.text{
    justify-self: center;
    display: flex;
    align-items: center;
    justify-content: center;
    grid-column-start:2;
    grid-column-end:7;
    grid-row-start:2;
    grid-row-end: 3;
    font-size: 2.3rem;
    line-height: 1.2;
}

  .hl {
    color: rgb(177, 177, 177);
    flex: 1;
    font-size: 2em;
    line-height: 1.2;
    text-decoration: none;
    background:none;
    animation: hl 10s infinite;
animation-delay: 0.2s;
animation-timing-function: ease-in-out;

  }
@keyframes hl{
  0%{
    color:  rgb(177, 177, 177);
  }
  50%{
    color: black;
  }
  100%{
    color: rgb(177, 177, 177);
  }
}
.home{
  position:absolute;
  right:80px;
  top:80px;
  width:100px;
  height:50px;

}
img {
  width: 100px;
}

}