

@font-face {
    font-family: 'Alegreya';
    src: url('../p2-font/Alegreya-Regular.woff2') format('woff2'),
        url('../p2-font/Alegreya-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
  }

  @font-face {
    font-family: 'Alegreya';
    src: url('../p2-font/Alegreya-Italic.woff2') format('woff2'),
        url('../p2-font/Alegreya-Italic.woff') format('woff');
    font-weight: normal;
    font-style: italic;
    font-display: swap;
}
    .container{
        display: grid;
        grid-template-columns: repeat(5,1fr);
        grid-template-rows: repeat(4,minmax(120px,auto));
        grid-column-gap: 10px;
        grid-row-gap:10px;
    }
.text-f{
    justify-self: center;
    display: flex;
    align-items: center;
    justify-content: center;
    grid-column-start:3;
    grid-column-end:4;
    grid-row-start:2;
    grid-row-end: 4;
    width:400px;
    background-color: #E5E5E5; 
font-family: 'Alegreya', Georgia, serif;
font-style: normal;
font-weight: normal;
font-size: 1.6rem;
line-height: 1.4;
color: #000000;
}


.text-b{
    position:absolute;
width: 100%;
top: 10px;
z-index: -1;

font-family: 'Alegreya', Georgia, serif;
font-style: normal;
font-weight: normal;
font-size: 1rem;
line-height: 24px;
font-style: italic;
color: #E5E5E5;

}


@media only screen and (min-device-width: 375px) and (max-device-height: 812px){ 
    .container{
        display: grid;
        grid-template-columns: repeat(5,1fr);
        grid-template-rows: repeat(4,minmax(500px,auto));
        grid-column-gap: 10px;
        grid-row-gap:10px;
    }
    
    .text-f{
        justify-self: center;
        display: flex;
        align-items: center;
        justify-content: center;
        grid-column-start:2;
        grid-column-end:5;
        grid-row-start:2;
        grid-row-end: 4;
        width:auto;
}
}