@font-face {
    font-family: 'Alegreya';
    src: url('../p2-font/Alegreya-Regular.woff2') format('woff2'),
        url('../p2-font/Alegreya-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
  }

body {
    height:400vh;
    margin:0;
    
}

section{
    width:100%;
    height:100vh;
    display:grid;
    place-content: center;
    z-index: 2;
    position:relative;
    
}

svg{
    width:100%;
    height:100vh;
    position: fixed;
    top:0;
    z-index: -1;
}

h1{

    font-size: 3em;
    text-align: center;
    font-family: 'Alegreya',georgia, serif;
}

.animate{
    animation: reveal 1s forwards;

}

@keyframes reveal {
    from {
        opacity:0;
        transform:translateX(-180px);
    }
    to {
        opacity:0;
        transform:translateX(0);
    }
    
}
.home{
    position:absolute;
    right:80px;
    top:80px;
    width:100px;
    height:50px;

}
img {
    width: 100px;
}