@font-face {
    font-family: 'Alegreya';
    src: url('../p2-font/Alegreya-Regular.woff2') format('woff2'),
        url('../p2-font/Alegreya-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Alegreya';
    src: url('../p2-font/Alegreya-SemiBold.woff2') format('woff2'),
        url('../p2-font/Alegreya-SemiBold.woff') format('woff');
    font-weight: 600;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Alegreya';
    src: url('../p2-font/Alegreya-SemiBoldItalic.woff2') format('woff2'),
        url('../p2-font/Alegreya-SemiBoldItalic.woff') format('woff');
    font-weight: 600;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Alegreya';
    src: url('../p2-font/Alegreya-ExtraBold.woff2') format('woff2'),
        url('../p2-font/Alegreya-ExtraBold.woff') format('woff');
    font-weight: 800;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Alegreya';
    src: url('../p2-font/Alegreya-BlackItalic.woff2') format('woff2'),
        url('../p2-font/Alegreya-BlackItalic.woff') format('woff');
    font-weight: 900;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Alegreya';
    src: url('../p2-font/Alegreya-Black.woff2') format('woff2'),
        url('../p2-font/Alegreya-Black.woff') format('woff');
    font-weight: 900;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Alegreya';
    src: url('../p2-font/Alegreya-ExtraBoldItalic.woff2') format('woff2'),
        url('../p2-font/Alegreya-ExtraBoldItalic.woff') format('woff');
    font-weight: 800;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Alegreya';
    src: url('../p2-font/Alegreya-Bold.woff2') format('woff2'),
        url('../p2-font/Alegreya-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Alegreya';
    src: url('../p2-font/Alegreya-BoldItalic.woff2') format('woff2'),
        url('../p2-font/Alegreya-BoldItalic.woff') format('woff');
    font-weight: bold;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Alegreya';
    src: url('../p2-font/Alegreya-Medium.woff2') format('woff2'),
        url('../p2-font/Alegreya-Medium.woff') format('woff');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Alegreya';
    src: url('../p2-font/Alegreya-MediumItalic.woff2') format('woff2'),
        url('../p2-font/Alegreya-MediumItalic.woff') format('woff');
    font-weight: 500;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Alegreya';
    src: url('../p2-font/Alegreya-Italic.woff2') format('woff2'),
        url('../p2-font/Alegreya-Italic.woff') format('woff');
    font-weight: normal;
    font-style: italic;
    font-display: swap;
}



.container{
    display: grid;
    grid-template-columns: repeat(6,1fr);
    grid-template-rows: repeat(4,minmax(177px,auto));
    grid-column-gap: 10px;
    grid-row-gap:10px;
}

.p1{
    justify-self: center;
    display: flex;
    align-items: center;
    justify-content: center;
    grid-column-start:3;
    grid-column-end:4;
    grid-row-start:1;
    grid-row-end: 2;
    width: 177px;
    height: 177px;
    background: #C4C4C4;
    font-family: 'Alegreya', Georgia, serif ;
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 4px;
}

.p1 a:link{
    color: #000000;
    text-decoration: none;
}
.p1 a:active{
    color: #000000;
    text-decoration: none;
}
.p1 a:visited{
    color:#000000;
    text-decoration: none;
}
.p1 a:hover{
    color:#000000;
    text-decoration: underline;
}

.p2{
    justify-self: center;
    grid-column-start:1;
    grid-column-end:2;
    grid-row-start:2;
    grid-row-end: 3;
    width: 177px;
    height: 177px;
    background: #C4C4C4;
    font-family: 'Alegreya',georgia, serif;
    font-weight: 600;
    font-style: normal;
    font-display: swap;
    text-align: center;
}

.p2 a:link{
    color: #000000;
    text-decoration: none;
}
.p2 a:active{
    color: #000000;
    text-decoration: none;
    
}
.p2 a:visited{
    color:#000000;
    text-decoration: none;
}
.p2 a:hover{
    color:#000000;
    text-decoration: underline;
}


.p3{
    justify-self: center;
    display:flex;
    align-items: center;
    justify-content: center;
    grid-column-start:2;
    grid-column-end:3;
    grid-row-start:1;
    grid-row-end: 2;
    width: 177px;
    height: 177px;
    background: #595A4E;
    font-family: 'Alegreya';
    font-weight: 500;
    font-style: normal;
    text-align: end;

}
.p3 a:link{
    color: #000000;
    text-decoration: none;
}
.p3 a:active{
    color: #000000;
    text-decoration: none;
}
.p3 a:visited{
    color:#000000;
    text-decoration: none;
}
.p3 a:hover{
    color:#000000;
    text-decoration: underline dotted;
}


.p4{
    justify-self: center;
    grid-column-start:1;
    grid-column-end:2;
    grid-row-start:1;
    grid-row-end: 2;
    width: 177px;
    height: 177px;
    background: #000000;
    justify-self: center;
    font-family: 'Alegreya';
    font-weight: 500;
    font-style: italic;
    font-size: 18px;
    line-height: 25px;
    color: #c4c4c4;
}
.p4 a:link{
    color: #c4c4c4;
    text-decoration: none;
}
.p4 a:active{
    color: #c4c4c4;
    text-decoration: none;
}
.p4 a:visited{
    color:#C4C4C4;
    text-decoration: none;
}
.p4 a:hover{
    color:#595A4E;
    text-decoration: none;
}


.p5{
    justify-self: center;
    display: flex;
    align-items: center;
    justify-content: center;
    grid-column-start:2;
    grid-column-end:3;
    grid-row-start:3;
    grid-row-end: 4;
    width: 177px;
    height: 177px;
    background: #C4C4C4;
    font-family: 'Alegreya';
    font-weight: bold;
    font-style: normal;
    font-size:10px;
    line-height: 11px;
}
.p5 a:link{
    color: #000000;
    text-decoration: none;
}
.p5 a:active{
    color: #000000;
    text-decoration: none;
}
.p5 a:visited{
    color:#000000;
    text-decoration: none;
}
.p5 a:hover{
    color:white;
    text-decoration: none;
}

.p6{
    justify-self: center;
    display: flex;
    align-items: center;
    justify-content: center;
    grid-column-start:5;
    grid-column-end:6;
    grid-row-start:2;
    grid-row-end: 3;
    width: 177px;
    height: 177px;
    background: #C4C4C4;
    font-family: 'Alegreya';
    font-weight: normal;
    font-style: italic;
font-size: 36px;
line-height: 39px;
color: black;
}
.p6 a:link{
    color: black;
    text-decoration: none;
}
.p6 a:active{
    color: black;
    text-decoration: none;
}
.p6 a:visited{
    color:black;
    text-decoration: none;
}
.p6 a:hover{
    color:#595A4E;
    text-decoration: none;
}


.p7{
    justify-self: center;
    display: flex;
    align-items: center;
    justify-content: center;
    grid-column-start:3;
    grid-column-end:4;
    grid-row-start:4;
    grid-row-end: 5;
    width: 177px;
    height: 177px;
    background: #C4C4C4;
    font-family: 'Alegreya';
    font-weight: bold;
    font-style: italic;
}
.p7 a:link{
    color: #000000;
    text-decoration: none;
}
.p7 a:active{
    color: #000000;
    text-decoration: none;
}
.p7 a:visited{
    color:#000000;
    text-decoration: none;
}
.p7 a:hover{
    color:#595A4E;
    text-decoration: none;
}

.p8{
    justify-self: center;
    display: flex;
    align-items: center;
    justify-content: left;
    grid-column-start:2;
    grid-column-end:3;
    grid-row-start:4;
    grid-row-end: 5;
    width: 177px;
    height: 177px;
    background: #595A4E;
    font-family: 'Alegreya';
    font-weight: bold;
    font-style: italic;
    color:white;
}
h3{
    font-family: 'Alegreya';
    font-weight: bold;
    font-style: normal;
}
.p8 a:link{
    color: white;
    text-decoration: none;
}
.p8 a:active{
    color: white;
    text-decoration: none;
}
.p8 a:visited{
    color:white;
    text-decoration: none;
}
.p8 a:hover{
    color:white;
    text-decoration: underline;
}

.p9{
    justify-self: center;
    grid-column-start:6;
    grid-column-end:7;
    grid-row-start:2;
    grid-row-end: 3;
    width: 177px;
    height: 177px;
    background: #5A5D40;
    color:white;
}
.p9 a:link{
    color: white;
    text-decoration: none;
}
.p9 a:active{
    color: white;
    text-decoration: none;
}
.p9 a:visited{
    color:white;
    text-decoration: none;
}
.p9 a:hover{
    color:white;
    text-decoration: underline;
}


.p10{
    justify-self: center;
    grid-column-start:5;
    grid-column-end:6;
    grid-row-start:4;
    grid-row-end: 5;
    width: 177px;
    height: 177px;
    background: #000000;
    font-family: Rockwell;
font-style: normal;
font-weight: normal;
font-size: 36px;
line-height: 39px;
color: #FFFFFF;
}
.p10 a:link{
    color: white;
    text-decoration: none;
}
.p10 a:active{
    color: white;
    text-decoration: none;
}
.p10 a:visited{
    color:white;
    text-decoration: none;
}
.p10 a:hover{
    color:white;
    text-decoration: underline;
}



.p11{
    justify-self: center;
    grid-column-start:4;
    grid-column-end:5;
    grid-row-start:3;
    grid-row-end: 4;
    width: 177px;
    height: 177px;
    background: #5A5D40;
    font-family: Rockwell;
font-style: normal;
font-weight: normal;
font-size: 16px;
line-height: 23px;
/* or 96% */
color:white;
}
.p11 a:link{
    color: white;
    text-decoration: none;
}
.p11 a:active{
    color: white;
    text-decoration: none;
}
.p11 a:visited{
    color:white;
    text-decoration: none;
}
.p11 a:hover{
    color:white;
    text-decoration: underline;
}


.p12{
    font-family: Rockwell;
    font-style: normal;
    font-weight: normal;
    font-size: 9px;
    line-height: 11px;
    justify-self: center;
    display: flex;
    align-items: center;
    justify-content: center;
    grid-column-start:6;
    grid-column-end:7;
    grid-row-start:3;
    grid-row-end: 4;
    width: 177px;
    height: 177px;
    background:#C4C4C4;
    }
    .p12 a:link{
        color: #000000;
        text-decoration: none;
    }
    .p12 a:active{
        color: #000000;
        text-decoration: none;
    }
    .p12 a:visited{
        color:#000000;
        text-decoration: none;
    }
    .p12 a:hover{
        color:#000000;
        text-decoration: underline;
    }











/*target only screens up to 375px*/
@media only screen and (max-width:375px){
    .container{
        display: grid;
        grid-template-columns: repeat(8,1fr);
        grid-template-rows: repeat(16,minmax(42px,auto));
        grid-column-gap: 5px;
        grid-row-gap:5px;
    }

    .p1{
        justify-self: stretch;
        display: flex;
        align-items: center;
        justify-content: center;
        grid-column-start:5;
        grid-column-end:9;
        grid-row-start:1;
        grid-row-end: 5;
        width: auto;
        height: auto;
        background: #C4C4C4;
        font-family:  'Alegreya', Georgia, serif ;
        font-size: 11px;
        line-height: 5px;
        
    }
    .p1 a:link{
        

        color: #000000;
        text-decoration: none;
    }
    .p1 a:active{

        color: #000000;
        text-decoration: underline;
    }
    .p1 a:visited{

        color:#000000;
        text-decoration: none;
    }

    
    .p2{
        justify-self: stretch;
        grid-column-start:3;
        grid-column-end:5;
        grid-row-start:9;
        grid-row-end: 11;
        width: auto;
        height: auto;
        background: #C4C4C4;
        font-size: 10px;
        line-height: 12px;
        font-family: 'Alegreya',georgia, serif;
        font-weight: 600;
        font-style: normal;
        font-display: swap;
        text-align: center;
        
    }
    .p2 a:link{

        text-decoration: none;

    }
    .p2 a:active{

        text-decoration: none;
        font-style: italic;
    }
    .p2 a:visited{

        text-decoration: none;

    }


    .p3{
        justify-self: center;
        grid-column-start:3;
        grid-column-end:5;
        grid-row-start:3;
        grid-row-end: 5;
        width: auto;
        height: auto;
        background: #595A4E;
        font-size: 10px;
        color: #FFFFFF;
    }
    .p3 a:link{
        color: #FFFFFF;
    }
    .p3 a:active{
        color: #FFFFFF;
        background: white; 
        text-decoration: none;
    }
    .p3 a:visited{
        color: #FFFFFF;
    }

  

    .p4{
        justify-self: center;
        grid-column-start:1;
        grid-column-end:3;
        grid-row-start:1;
        grid-row-end: 3;
        width: auto;
        height: auto;
        background: #000000;
        justify-self: center;
        font-family: 'Alegreya';
        font-weight: 500;
        font-style: italic;
        font-size: 10px;
        line-height: 12px;
        color: #c4c4c4;
        
    }
    .p4 a:link{
        color: #c4c4c4;
    }


    .p4 a:active{
        color: white;
        text-decoration: none;
        font-weight: bold;
    }
    .p4 a:visited{
        color: #c4c4c4;
    }


.p5{
    justify-self: center;
    grid-column-start:1;
    grid-column-end:3;
    grid-row-start:9;
    grid-row-end: 11;
    width: auto;
    height: auto;
    background: #C4C4C4;
    justify-self: stretch;
    font-family: 'Alegreya';
    font-weight: bold;
    font-style: normal;
    font-size:10px;
    line-height: 11px;
        color:#595A4E;
}
.p5 a:link{
    color: #595A4E;
    text-decoration: none;
}
.p5 a:active{
    color: #000000;
    text-decoration: none;
}
.p5 a:visited{
    color:#595A4E;
    text-decoration: none;
}


.p6{
    justify-self: stretch;
    display: flex;
    align-items: center;
    justify-content: center;
    grid-column-start:5;
    grid-column-end:9;
    grid-row-start:9;
    grid-row-end: 13;
    width: auto;
    height: auto;
    background: #C4C4C4;
    font-family: 'Alegreya';
    font-weight: normal;
    font-style: italic;
font-size: 36px;
line-height: 39px;
color:  #5A5D40;
}
.p6 a:link{
    font-weight: normal;
    font-style: italic;
    color: #5A5D40;
    text-decoration: none;
}
.p6 a:active{
    font-weight: normal;
    font-style: italic;
    color: white;
    text-decoration: none;
}
.p6 a:visited{
    font-weight: normal;
    font-style: italic;
    color: #5A5D40;
    text-decoration: none;
}


.p7{
    justify-self: stretch;
    grid-column-start:1;
    grid-column-end:5;
    grid-row-start:5;
    grid-row-end: 9;
    width: auto;
    height: auto;
    background: #C4C4C4;
}
.p7 a:link{
    color: #000000;
    text-decoration: none;
}
.p7 a:active{
    color: #000000;
    text-decoration: underline dotted;
}
.p7 a:visited{
    color:#000000;
    text-decoration: none;

}

.p8{
    justify-self: stretch;
    grid-column-start:5;
    grid-column-end:9;
    grid-row-start:13;
    grid-row-end: 17;
    width: auto;
    height: auto;
    background: #595A4E;
    color: #FFFFFF;
}
.p8 a:link{
    color: white;
    text-decoration: none;
}
.p8 a:active{
    color: white;
    text-decoration: underline;
}
.p8 a:visited{
    color:white;
    text-decoration: none;
}


.p9{
    justify-self: stretch;
    grid-column-start:5;
    grid-column-end:8;
    grid-row-start:6;
    grid-row-end: 9;
    width: auto;
    height: auto;
    background: #5A5D40;
    color:white;
}
.p9 a:link{
    color: white;
    text-decoration: none;
}
.p9 a:active{
    color: white;
    text-decoration: underline;
    font-size: larger;
}
.p9 a:visited{
    color:white;
    text-decoration: none;
}


.p10{
    justify-self: stretch;
    grid-column-start:1;
    grid-column-end:5;
    grid-row-start:13;
    grid-row-end: 17;
    width: auto;
    height: auto;
    background: #000000;
    font-family: georgia;
font-style: normal;
font-weight: normal;
font-size: 36px;
line-height: 39px;
color: #FFFFFF;
}
.p10 a:link{
    color: white;
    text-decoration: none;
}
.p10 a:active{
    color: white;
    text-decoration: underline dotted gray;
}
.p10 a:visited{
    color:white;
    text-decoration: none;
}


.p11{
    justify-self: stretch;
    grid-column-start:3;
    grid-column-end:5;
    grid-row-start:11;
    grid-row-end: 13;
    width: auto;
    height: auto;
    background: #5A5D40;
    font-family: georgia;
    font-style: normal;
    font-weight: normal;
    font-size: 8px;
    line-height: 10px;
    /* or 96% */
    color:white;
    }
    .p11 a:link{
        color: white;
        text-decoration: none;
    }
    .p11 a:active{
        color: white;
        text-decoration: underline;
    }
    .p11 a:visited{
        color:white;
        text-decoration: none;
    }
 

.p12{
    font-family: Rockwell;
    font-style: normal;
    font-weight: normal;
    font-size: 9px;
    line-height: 11px;
    justify-self: stretch;
    display: flex;
    align-items: center;
    justify-content: center;
    grid-column-start:1;
    grid-column-end:3;
    grid-row-start:11;
    grid-row-end: 13;
    width: auto;
    height: auto;
    background:#C4C4C4;
    }
    .p12 a:link{
        color: #000000;
        text-decoration: none;
    }
    .p12 a:active{
        color: #000000;
        text-decoration: none;
    }
    .p12 a:visited{
        color:#000000;
        text-decoration: none;
    }


}