@import url('https://fonts.googleapis.com/css2?family=Orbitron&display=swap');


.container{
    width: 392px;
    height: 200px;
    border: 1px solid #000000;
    background-color: #F9F5ED;
}


.inner-container{
    position: relative;
    top: -66%;
    left: 50%;
    transform: translateX(-159px);
    width: 318px;
    height: 135px;
    border-radius: 100px;
}


.stroke{
    position: relative; 
    left: 50%;
    top: 50%;
    transform: translate(-200px,-80px);
    width: 400px;
    height: 160px;
    box-sizing: border-box;

}

.soup-name{
    font-family: 'Orbitron', sans-serif;
    font-size: 12px;
        position: absolute;
        bottom: 0;
        right: 0;
    
}

.text-cont{
    position: relative;
    bottom: 202px;
    left: 23%;
    z-index: 2;
    text-align: left;
    width: 30%;
    height: 62px;
}

.logo{
    content:url(https://upload.wikimedia.org/wikipedia/commons/c/c5/Amy%27s_Kitchen_logo_gn.svg);
    width: 65px;
    bottom: 359px;
    left: 1px;
    position: relative;
}

.soup-img{
    position: absolute;
    z-index: 2;
    width: 108px;
    border-radius: 0px 69px 69px 0px;
    left: 196px;
    top: 50%;
    transform: translateY(-50%);
}