
body {
  height: 600vh;
}

/* calender */
.cabox{
  position: sticky;
  top: 0;
  width: 100px;
  height: 312px;
  left: 50%;
  top: 50%;
}

.calender{
position: relative;
  width: 200px;
  height: auto;
  left: -100px;
  top: -312px;
}


img {
  width:25px;
}


#myBox1{
  width:25px;
  height:auto;
  position:absolute;

  top: -52%;
  /* background-color: blue; */
  z-index:-1;
  transition: all .5s;
}

#myBox2{
  width:25px;
  height:auto;
  position:absolute;
  top: 44%;
  /* background-color: blue; */
  z-index:-1;
  transition: all .5s;
}

#myBox3{
  width:25px;
  height:auto;
  position:absolute;
  top: 52%;
  /* background-color: blue; */
  z-index:-1;
  transition: all .5s;
}

#myBox4{
  width:25px;
  height:auto;
  position:absolute;
  top: 28%;
  /* background-color: blue; */
  z-index:-1;
  transition: all .5s;
}

#myBox5{
  width:25px;
  height:auto;
  position:absolute;
  top: 68%;
  z-index:-1;
  transition: all .5s;
  /* background-color: blue; */
}
#myBox6{
  width:25px;
  height:auto;
  position:absolute;
  top: 4%;
  z-index:-1;
  transition: all .5s;
  /* background-color: blue; */
}

.box{
  height:300vh;
}
.hide {
  opacity:0;
 
}
.show {
  opacity:1;

}

.title{
  position: relative;
  top: -290px;
  transition: all .5s;
  width: 40vw;
  font-family: 'Roboto', sans-serif;
  font-size: 18px;
}
h1{
  margin-left: 15%;
  font-weight: 400;
}

h2{
  margin-left: 15%;
  font-weight: 100;
}
/* 
.titleshow {
  opacity:1;
}

.titlehide {
  opacity:0;
  display: none;
} */

.parent {
  display: grid;
  grid-template-columns: 2fr 1fr 2fr;
  grid-template-rows: repeat(6, 1fr);
  grid-column-gap: 0px;
  grid-row-gap: 0px;
  font-family: 'Roboto', sans-serif;
  font-weight: 300;
  font-size: 18px;
}

.p1, .p3, .p5{
  margin-left: 15%;
  margin-right: 5%;
}

.p2, .p4, .p6{
  margin-left: 5%;
  margin-right: 15%;
}

.p1{
  grid-area: 1 / 1 / 2 / 2; 
}

.p2 { 
  grid-area: 2 / 3 / 3 / 4; 
}

.p3 { 
  grid-area: 3 / 1 / 4 / 2; 
}

.p4 { 
  grid-area: 4 / 3 / 5 / 4; 
}

.p5 { 
  grid-area: 5 / 1 / 6 / 2; 
}

.p6 { 
  grid-area: 6 / 3 / 7 / 4; 
}

