img{
    margin:auto;
    width:300px;
}

h1{
    font-family: cursive;
    color:rgb(77, 133, 170);

}

p{
    font-size:1.5rem;
    font-family: Georgia, 'Times New Roman', Times, serif;
    color:rgb(226, 118, 136);
}