@import url('https://fonts.googleapis.com/css2?family=Cormorant:ital,wght@0,300;0,600;1,300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

body{
    margin: 0;
    height: 100vh;
}
.menu{
    position: fixed;
    bottom: 0;
    width: 100vw;
    padding: 20px;
    display: flex;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 10px;
    padding-bottom: 20px;
    border-top: solid;
    z-index: 1;
    background-color: white;
}
.title{
    font-family: 'Cormorant', serif;
    width: 40%;
    font-size: 2rem;
}

#info{
    font-family: 'roboto', sans-serif;
    font-size: 1rem;
    margin-top: 10px;
    width:92px;
    cursor: pointer;
}

#info:hover{
    background-color:#1f1f1f;
    color:#F0F0F0;

}

#filter{
    position: relative;
    font-family: 'roboto', sans-serif;
    font-size: 1rem;
    height: 100%;
    width: 60%;
    display: flex;
    left: -40px;
    margin-top: auto;
    cursor: pointer;
}
.filter{
    margin-left: auto;
}
.filter:hover{
    background-color: #1f1f1f;
    color:#F0F0F0;
}
.color{
    width: 40px;
    height: 18px;
    /* background-color: blue; */
    margin-left: auto;
    margin-top: auto;
    border: solid 0.3px;
    cursor: pointer;
}
#black{
    background-color: #252525;
}
#white{
    background-color: #F0F0F0;
}
#red{
    background-color: #783333;
}
#blue{
    background-color: #2D4575;
}
#brown{
    background-color: #786045;
}




/* canvas right */

#all{
    width: 75vw;
    height: 85vh;
    position: relative;
     float: right;
    overflow: auto;
    display: grid;
    grid-template-columns: repeat(3, 1fr); 
    padding-bottom: 100px;
    background-color: #1f1f1f;
    cursor: pointer;
}


.img-inner{
    width: 100%;
    height: auto;
    margin: auto;
    opacity: 0.2;
    /* display: none; */
}


#art{
    width:25vw;
    height:90vh;
    /* height: 85vh; */
    position: fixed;
    float: left;
    margin-bottom: auto;
    padding-top: 20px;
    background-color: #1f1f1f;
    overflow: auto;
}



.img-Main{
    /* position: fixed; */
    width:25vw;
    position: absolute;
    bottom: 3%;
    margin: auto;
}

.img-title{
    position: relative;
    font-family: 'Cormorant', serif;
    width: 22vw;
    font-size: 1.4rem;
    margin-left: 20px;
    margin-right: 20px;
    color: #F0F0F0;
}

.img-size, .img-medium, .img-detail, .img-title{
    margin-left: 20px;
    margin-right: 20px;
    color: #F0F0F0;
}

.img-size, .img-medium, .img-detail{
    font-family: 'roboto', sans-serif;
    font-size: 0.8rem;
    opacity: 0.6;
}

#in{
    position: absolute;
    width: 22vw;
    margin-left: 20px;
    margin-right: 20px;
    bottom:60px;
    font-family: 'Cormorant', serif;
    font-size: 1.4rem;
    opacity: 0.6;
    color: #F0F0F0;
    top: 20px;
    display: none;
}

h1{
    font-family: 'Cormorant', serif;
    font-size: 1.4rem;
}

#sq{
    height: 100px;
    width: 100px;
    border: 1px #F0F0F0 solid;
    margin-bottom:20px;
    display: none;
}