*{
    padding:0;
    margin:0;
  }
  
  #game{
    width:100vw;
    height:100vh;
  }
  
  #rooms {
    width:1450px;
    height:auto;
    position: absolute;
    top:0;
    z-index:-2;
  }
  #dark {
    width:1450px;
    height:auto;
    position: absolute;
    top:0;
    z-index:1;
    display:block;
  }
  
  #character {
    width:25px;
    height:auto;
    position: absolute;
    top:495px;
    left:200px;
    z-index:2;
  }
  #room1 {
    width:260px;
    height:auto;
    position: absolute;
    top:387px;
    left:50px;
  }
  #frame {
    width:20px;
    height:30px;
    position: absolute;
    top:489px;
    left:105px;
  }
  #room2 {
    width:250px;
    height:auto;
    position: absolute;
    top:335px;
    left:335px;
    display:none;
  }

 
  
  #room3 {
    width:230px;
    height:auto;
    position: absolute;
    top:350px;
    left:600px;
    display:none;
  }
  #shelf{
    width: 120px;
    height:130px;
    position: absolute;
    /* background-color:blue; */
    top:440px;
    left:710px;
    z-index:2;
  }

  #hide{
    width: 40px;
    height:40px;
    position: absolute;
    /* background-color:blue; */
    top:115px;
    left:600px;
    z-index:3;
  }

  #listdiv {
    width:400px;
    height:auto;
    position: absolute;
    top:100px;
    left:280px;
    z-index:3;
    display: none;
  }

  #list {
    width:400px;
    height:auto;
  }
  #check1{
    width:50px;
    height:auto;
    position: absolute;
    top:120px;
    left:60px;
    z-index:1;
    display: none;
  }
  #check2{
    width:50px;
    height:auto;
    position: absolute;
    top:200px;
    left:65px;
    z-index:1;
    display: none;
  }
  
  #check3{
    width:50px;
    height:auto;
    position: absolute;
    top:275px;
    left:75px;
    z-index:1;
    display: none;
  }

  #check4{
    width:50px;
    height:auto;
    position: absolute;
    top:360px;
    left:80px;
    z-index:1;
    display: none;
  }
  
  #room4 {
    width:230px;
    height:auto;
    position: absolute;
    top:370px;
    left:870px;
    display:none;
  }

  #musicplay{
    width: 35px;
    height:40px;
    position: absolute;
    /* background-color:blue; */
    top:470px;
    left:874px;
    z-index:2;
  }
  
  #room5 {
    width:230px;
    height:auto;
    position: absolute;
    top:385px;
    left:1150px;
    display:none;
  }
  #movie{
    width:230px;
    height:auto;
    position: absolute;
    /* background-color:red; */
    top:389px;
    left:1150px;
    z-index:-1;
  }
  #play{
    width: 35px;
    height:25px;
    position: absolute;
    /* background-color:blue; */
    top:470px;
    left:1300px;
    z-index:2;
  }