body{
    margin:0;
}
.container {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    grid-template-rows: repeat(9, 1fr);
    grid-column-gap: 0px;
    grid-row-gap: 0px;
    justify-items: center;
    }

.div1 { 
    grid-area: 1 / 1 / 2 / 3;
    background-color: aliceblue;
    width:20vw;
    height: 10vh;
    margin-left:10%;
    justify-self: flex-start;
}
.div2 { 
    grid-area: 3 / 1 / 9 / 2; 
    background-color:antiquewhite;
    width:10vw;
    height: 10vh;
    margin:5px;
}
.div3 { 
    grid-area: 3 / 2 / 9 / 3;
    background-color:rgb(160, 188, 217);
    width:10vw;
    height: 10vh;
    margin:5px;
}
.div4 { 
    grid-area: 3 / 3 / 9 / 4;
    background-color:rgb(133, 191, 160);
    width:10vw;
    height: 10vh;
    margin:5px;
}
.div5 { 
    grid-area: 3 / 4 / 9 / 5; 
    background-color:rgb(217, 160, 207);
    width:10vw;
    height: 10vh;
    margin:5px;
}
.div6 { 
    grid-area: 3 / 5 / 9 / 6; 
    background-color:rgb(167, 101, 150);
    width:10vw;
    height: 10vh;
    margin:5px;
}
.div7 { 
    grid-area: 3 / 6 / 9 / 7;
    background-color:rgb(206, 94, 94);
    width:10vw;
    height: 10vh;
    margin:5px;
}