body{
    font-family: 'Comfortaa', cursive;
    font-weight: 400;
    font-size: 36px;
    display: inline-block;
    /* text-align: center; */
    letter-spacing: 0.185em;
    /* padding: 0;
    margin: 0; */
    width: 100vw;
}



#lonely{
    position: absolute;
    left: 50px;
    top: 10%;
    height: auto;
    width: auto;
    display: inline-block;
}

#planet{
    position: absolute;
    left: 160px;
    top: 10%;
    height: auto;
    width: auto;
}

#circle{
    position:absolute;
    /* width:50px;
    height:100px; */
    /* background-color: bisque; */
    z-index: -1;
    transform: translate(-25px, 35px);
}

#form{
    position:absolute;
    font-family: 'Comfortaa', cursive;
    font-weight: 200;
    font-size: 24px;
    display: inline-block;
    /* width: 300px; */
    line-height: 32px;
    border-style: solid;
    border-width: 2px;
    padding:16px;
    letter-spacing: 0em;
    border-radius: 0.5em;
    cursor: move;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    text-align: center;
}

button{
    font-family: 'Comfortaa', cursive;
    font-weight: 200;
    font-size: 16px;
    display: inline-block;
    letter-spacing: 0%;
}

#lonelyimg{
    display: block;
    position: relative;
    width:100px;
    height:auto;
}

#planetimg{
    display: block;
    position: relative;
    width:110px;
    height:auto;
}