body{
  background-color: black;
}

.video{
  width:100vw;
  height:100vh;

}
  .overlay {
      position:absolute;
      top:0;
      bottom:0;
      left:0;
      right:0;
      display:flex;
      align-items: center;
  }
  button{
    background-color: burlywood;
    width: 390px;
    height:40px;
    font-size: 3rem;
    display:flex;
    align-items: center;
    color:cornflowerblue;
  }

  button a:link{
    color:cornflowerblue;
    text-decoration:none;
  }