body {
    margin: 0;
    background: #000; 
  }
  header{
      height:100vh;
      margin-bottom: 2rem;
      background-size: cover;
  }


  video { 
 position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  }

  .overlay {
      position:absolute;
      top:0;
      bottom:0;
      left:0;
      right:0;
      display:flex;
      align-items: center;
  }
  .button{
    position:absolute;
    top:0;
    bottom:0;
    left:0;
    right:0;
    display:flex;
    align-items: center;

  }