div{
    width: 250px;
    height: 250px;
    background: linear-gradient(rgb(33, 96, 214), #c5f8ed);
    border-radius: 50%;
    margin-top: -110px;
    margin-left: 837px;
    animation: animate 0.5s linear infinite;
}

@keyframes animate{
    from{
        transform: rotate(0deg);
    }

    to{
        transform: rotate(360deg)
    }
}
